<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>rbis</display-name>
  <listener>
    <listener-class>com.rbis.listner.ContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>driver</param-name>
    <param-value>org.postgresql.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:postgresql://localhost:54321/</param-value>
  </context-param>
  <context-param>
    <param-name>db</param-name>
    <param-value>db_rbis</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>postgres</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>password</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>